# --- Project Configuration ---
# - Do not store any sensitive values/credentials in this file.

PROJECT_NAME='kcnotes'
PROJECT_IMAGE="${PROJECT_NAME}:local"

# Optional: Renovate upgrader tool
# --------------------------------
# - Self-hosted Renovate can automatically update the versions in `project.cfg` by creating GitHub pull requests
DEV_SCAN_ENABLE_RENOVATE=true
# renovate: datasource=docker depName=renovate/renovate versioning=docker
DEV_RENOVATE_IMAGE='renovate/renovate:43.138.2'

# Project development image
# -------------------------
PROJECT_DOCKERFILE='Dockerfile'

# renovate: datasource=docker depName=golang versioning=docker
DEV_GO_IMAGE='golang:1.26.2-trixie'

# Security scanners
# -----------------
# renovate: datasource=docker depName=ghcr.io/gitleaks/gitleaks versioning=docker
DEV_SCAN_GITLEAKS_IMAGE='ghcr.io/gitleaks/gitleaks:v8.30.1'

# renovate: datasource=docker depName=rhysd/actionlint versioning=docker
DEV_SCAN_ACTIONLINT_IMAGE='rhysd/actionlint:1.7.12'

# renovate: datasource=docker depName=aquasec/trivy versioning=docker
DEV_SCAN_TRIVY_IMAGE='aquasec/trivy:0.70.0'

# renovate: datasource=docker depName=anchore/syft versioning=docker
DEV_SCAN_SYFT_IMAGE='anchore/syft:v1.42.4'

# renovate: datasource=docker depName=anchore/grype versioning=docker
DEV_SCAN_GRYPE_IMAGE='anchore/grype:v0.111.0'

# SHA Checksum Lockfile
# ---------------------
# (The lockfile is updated via `make update`)
. ./config/lockfile.cfg
