# --- Project Configuration ---
# - Do not store any sensitive values/credentials in this file.

PROJECT_NAME='kcnotes'
PROJECT_IMAGE="${PROJECT_NAME}:local"

# Optional: Renovate upgrader tool
# --------------------------------
# - Self-hosted Renovate can automatically update the versions in `project.cfg` by creating GitHub pull requests
DEV_SCAN_ENABLE_RENOVATE=true
# renovate: datasource=docker depName=renovate/renovate versioning=docker
DEV_RENOVATE_IMAGE='renovate/renovate:43.138.2'

# Project development image
# -------------------------
PROJECT_DOCKERFILE='Dockerfile'

# renovate: datasource=docker depName=golang versioning=docker
DEV_GO_IMAGE='golang:1.26.2-trixie'

# Lint and formatting tools
# -------------------------
# renovate: datasource=go depName=mvdan.cc/sh/v3/cmd/shfmt versioning=semver
DEV_LINT_SHFMT_VERSION='v3.13.1'

# renovate: datasource=go depName=honnef.co/go/tools/cmd/staticcheck versioning=loose
DEV_LINT_STATICCHECK_VERSION='2025.1.1'

# renovate: datasource=go depName=github.com/checkmake/checkmake/cmd/checkmake versioning=semver
DEV_LINT_CHECKMAKE_VERSION='v0.3.2'

# renovate: datasource=npm depName=prettier versioning=npm
DEV_LINT_PRETTIER_VERSION='3.8.3'

# renovate: datasource=npm depName=jshint versioning=npm
DEV_LINT_JSHINT_VERSION='2.13.6'

# renovate: datasource=npm depName=markdownlint-cli2 versioning=npm
DEV_LINT_MARKDOWNLINT_CLI2_VERSION='0.22.0'

# Security scanners
# -----------------
# renovate: datasource=docker depName=ghcr.io/gitleaks/gitleaks versioning=docker
DEV_SCAN_GITLEAKS_IMAGE='ghcr.io/gitleaks/gitleaks:v8.30.1'

# renovate: datasource=docker depName=rhysd/actionlint versioning=docker
DEV_SCAN_ACTIONLINT_IMAGE='rhysd/actionlint:1.7.12'

# renovate: datasource=docker depName=aquasec/trivy versioning=docker
DEV_SCAN_TRIVY_IMAGE='aquasec/trivy:0.70.0'

# renovate: datasource=docker depName=anchore/syft versioning=docker
DEV_SCAN_SYFT_IMAGE='anchore/syft:v1.42.4'

# renovate: datasource=docker depName=anchore/grype versioning=docker
DEV_SCAN_GRYPE_IMAGE='anchore/grype:v0.111.0'

# SHA Checksum Lockfile
# ---------------------
# (The lockfile is updated via `make update`)
. ./config/lockfile.cfg
